<div class="v-custom-container" *ngIf="restaurant$ | async as restaurant">
  <app-restaurant-header-cover-logo [restaurant]="restaurant" [restaurantHolder]="restaurantHolder"
    [routeRestaurantId]="routeRestaurantId" [tokenExpired]="tokenExpired" [tooltip]="tooltip" [morevert]="true"
    (containerHeightEmitter)="containerHeightEmitter($event)"
    (actionEmitter)="actionHandler($event)"></app-restaurant-header-cover-logo>
  <div class="d-flex w-100 justify-content-center ">
    <button class="btn w-100 v-button-full-width v-edit-background v-letterspace-2px" *ngIf="restaurantHolder"
      (click)="editModeToggle()" style="border-radius: 0 !important;">MODIFICA MENU</button>
  </div>
  <ng-container *ngIf="categories$ | async as categories; else emptyCategory">
    <div class="v-wrapper v-white-background" [style.min-height]="containerHeight">
      <div class="d-flex flex-wrap v-restaurant-body pb-3" *ngIf="!hasInactiveCategory && hasNovita">
        <h2 class="w-100 px-3 pt-3 pb-0 mb-0">Le novità</h2>
        <div class="v-container-carousel v-container-carousel-background mt-3 mb-3 ps-3 py-3 w-100">
          <div *ngFor="let category of categories" class=" d-flex "
            (click)="openItem(category.items[category.items.length - 1]._id, category)">
            <div class="v-restaurant-item-novita"
              *ngIf="category.active && category.items.length > 0 &&  category.items[category.items.length - 1].picture"
              [ngStyle]="{ 'background-image': 'url(' + category.items[category.items.length - 1].picture + ')' }">
              <h2 class="v-restaurant-item-novita-badge">{{category.items[category.items.length - 1].name |
                capitalize}}
              </h2>
            </div>
          </div>
        </div>
        <div class="d-flex w-100 justify-content-center v-edit-mode-btn-bottom" style="height: 50px;"
          [ngClass]="{'fixed-bottom': editModeFixed, 'd-none': !editModeFixed}">
          <button class="btn w-100 v-button-full-width v-edit-background v-letterspace-2px" *ngIf="restaurantHolder"
            (click)="editModeToggle()" style="border-radius: 0 !important;">MODIFICA MENU</button>
        </div>

        <div
          class="v-container-carousel v-container-carousel-background mt-3 mb-3 ps-3 py-3 v-container-carousel-rest-category-fixed"
          [ngClass]="{'fixed-top': isElementFixed, 'd-none': !isElementFixed}">
          <div *ngFor="let category of categories" class=" d-flex " (click)="scrollToElement(category.name)">
            <h2 class="v-restaurant-category-fixed-top" *ngIf="category.active">{{category.name | capitalize}}</h2>
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap v-white-background pb-3">
        <div class="d-flex">

        </div>
        <h2 class="w-100 px-3 pt-3 pb-0 mb-0 d-flex justify-content-between align-items-center">Sfoglia il menù
          <span class="v-button-small v-edit-background" *ngIf="editMode" (click)="createCategory()">Aggiungi
            categoria</span>
        </h2>
        <div cdkDropList class="w-100" (cdkDropListDropped)="drop($event)">
          <div class="w-100" *ngFor="let category of categories" cdkDrag [cdkDragDisabled]="!draggableItem">
            <mat-accordion class="mt-3 w-100" *ngIf="category.active">
              <app-category-expansion-panel [draggableItem]="draggableItem" [category]="category"
                [categoryOpen]="categoryOpen" [editMode]="editMode" [restaurantHolder]="restaurantHolder"
                [openMatPanel]="openMatPanel" (openItemEmitter)="openItemHandler($event)"
                (addNewProductEmitter)="addNewProductHandler($event)"
                (editCategoryEmitter)="editCategoryHandler($event)"></app-category-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <ng-container *ngIf="restaurantHolder && hasInactiveCategory">
          <h2 class="w-100 px-3 pt-3 pb-0 mb-0 d-flex">Categorie non attive</h2>
          <ng-container *ngFor="let category of categories">
            <mat-accordion class="mt-3 w-100" *ngIf="!category.active">
              <app-category-expansion-panel [category]="category" [categoryOpen]="categoryOpen" [editMode]="editMode"
                [restaurantHolder]="restaurantHolder" [openMatPanel]="openMatPanel"
                (openItemEmitter)="openItemHandler($event)" (addNewProductEmitter)="addNewProductHandler($event)"
                (editCategoryEmitter)="editCategoryHandler($event)"></app-category-expansion-panel>
            </mat-accordion>
          </ng-container>
        </ng-container>
      </div>

    </div>

  </ng-container>

  <ng-template #emptyCategory>
    <div class="d-flex justify-content-center align-items-center v-white-background xxx"
      [style.height]="containerHeight">

      <div class="d-flex flex-column justify-content-center align-items-center"
        [ngClass]="{'fade-in-out': true, 'show': showCreateCategory}">
        <i class="material-icons position-relative" style="font-size: xx-large;">fastfood</i>
        <span class="v-more-vert-tooltip">Scopri gli strumenti</span>
        <h3 class="mb-3 mt-3">Inizia a creare il tuo menu</h3>
        <!-- <div class="d-flex justify-content-center align-items-center"> -->
        <button *ngIf="restaurantHolder" class="btn col-3 v-button v-border-50 v-letterspace-2px w-75 v-edit-background"
          (click)="createCategory()">CREA CATEGORIA</button>
        <!-- </div> -->
      </div>
    </div>
  </ng-template>
</div>