<div class=" v-white-background pt-3 v-border-radius-100-0 position-relative w-100"
  style="margin-top: 10rem; height: 100vh; width: 100vw !important;">
  <div class="p-3">
    <p>{{titleDialog}}</p>
  </div>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Nome categoria (Antipasti, Primi, Pizze ecc...) </mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="categoryForm.get('name').hasError('required')">* Name is required</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>In quale ristorante:</mat-label>
      <mat-select formControlName="restaurantId" multiple>
        <mat-option *ngFor="let restaurant of availableRestaurant" [value]="restaurant.id">
          {{ restaurant.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryForm.get('restaurantId').hasError('required')">* Select almost 1 restaurant.</mat-error>
    </mat-form-field>

    <div class="d-flex align-items-center mb-5" style="    padding-left: 1rem;">

      <div class="col-8 d-flex align-self-end">
        <p class="m-0 mr-2" style="margin-right: 1rem !important;">Categoria attiva </p>
        <label class="switch align-self-center">
          <input type="checkbox" formControlName="active">
          <span class="slider round"></span>
        </label>
      </div>


      <div class="col-4 d-flex justify-content-end">
        <button class="v-button-outline-small mx-3 w-100" type="button" *ngIf="isEdit"
          (click)="deleteCategory()">Elimina</button>
      </div>
    </div>

    <div class="d-flex justify-content-center mt-4 flex-column align-items-center">
      <button class="btn col-3 v-button v-border-50"
        [class.v-button-disabled]="!categoryForm.dirty || categoryForm.invalid" type="submit">Submit</button>
      <div class="col-3 v-small v-shadow text-center v-border-50 v-border-1px-solid mt-3" style="padding: .5rem;">
        <span class="v-letterspace-2px" (click)="onCancel()">BACK</span>
      </div>

    </div>
  </form>


</div>