<ng-container *ngIf="restaurant$ | async as restaurant; else newRest">
  <ng-container *ngIf="restaurant.profile?.coverImg; else noCover">
    <div (load)="getBackgroundDivHeight()"
      class="d-flex flex-wrap v-restaurant-header justify-content-center align-items-center"
      [ngStyle]="{ 'background-image': 'url(' + restaurant.profile?.coverImg + ')' }">
      <img class="d-none"
        [src]="restaurant.profile.logoUrl ? restaurant.profile.logoUrl : '../../../../../assets/images/core/backdropsquare.png' "
        alt="" (load)="getBackgroundDivHeight()">
      <img class="v-restaurant-logourl"
        [src]="restaurant.profile.logoUrl ? restaurant.profile.logoUrl : '../../../../../assets/images/core/backdropsquare.png' "
        alt="">
      <app-more-vert-btn [morevert]="morevert" [restaurant]="restaurant" [restaurantHolder]="restaurantHolder"
        [routeRestaurantId]="routeRestaurantId" [tokenExpired]="tokenExpired" (actionEmitter)="actionHandler($event)"
        [tooltip]="tooltip"></app-more-vert-btn>
      <p class="w-100 text-white text-center v-title-after-img m-0 mt-3">{{restaurant.profile.name}}</p>
      <span class=" v-desc-after-img">{{restaurant.profile.description}}</span>
    </div>
  </ng-container>

  <ng-template #noCover>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
      <div class="d-flex flex-wrap v-restaurant-header justify-content-center align-items-center"
        style="background-image: url('../../../../../assets/images/core/backdropsquare.png');"
        (load)="getBackgroundDivHeight()">
        <img class="d-none"
          [src]="restaurant.profile.logoUrl ? restaurant.profile.logoUrl : '../../../../../assets/images/core/backdropsquare.png' "
          (load)="getBackgroundDivHeight()">
        <img class="v-restaurant-logourl"
          [src]="restaurant.profile.logoUrl ? restaurant.profile.logoUrl : '../../../../../assets/images/core/backdropsquare.png' "
          alt="">
        <app-more-vert-btn [restaurant]="restaurant" [restaurantHolder]="restaurantHolder"
          [routeRestaurantId]="routeRestaurantId" [tokenExpired]="tokenExpired" (actionEmitter)="actionHandler($event)"
          [tooltip]="tooltip"></app-more-vert-btn>
        <p class="w-100 text-white text-center v-title-after-img m-0 mt-3">{{restaurant.profile.name}}</p>
        <span class=" v-desc-after-img">{{restaurant.profile.description}}</span>

      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #newRest>
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <div class="d-flex flex-wrap v-restaurant-header justify-content-center align-items-center"
      style="background-image: url('../../../../../assets/images/core/backdropsquare.png');"
      (load)="getBackgroundDivHeight()">
      <img class="d-none" [src]="restaurant.profile?.coverImg" alt="" (load)="getBackgroundDivHeight()">
      <img class="v-restaurant-logourl" src="../../../../../assets/images/core/backdropsquare.png" alt="">
      <app-more-vert-btn [restaurant]="restaurant" [restaurantHolder]="restaurantHolder"
        [routeRestaurantId]="routeRestaurantId" [tokenExpired]="tokenExpired" (actionEmitter)="actionHandler($event)"
        [tooltip]="tooltip"></app-more-vert-btn>
      <!-- <p class="w-100 text-white text-center v-title-after-img m-0 mt-3"></p>
      <span class=" v-desc-after-img"></span> -->
    </div>
  </div>
</ng-template>