<div *ngIf="userProfile$ | async as userProfile" class="profile-container"
  [ngStyle]="{ 'background-image': 'url(' + userProfile.profile?.imgProfile + ')' }">
  <div class="mt-4">
    <button [matMenuTriggerFor]="innerMenuSettings" aria-label="Edit profile"
      style="background: none; border: none; position: absolute; top: 100px; right: 10px;" *ngIf="profileHolder">
      <mat-icon class="v-white-text">settings</mat-icon>
      <span *ngIf="tooltip" class="v-more-vert-tooltip">Scopri gli strumenti</span>
    </button>
    <mat-menu #innerMenuSettings="matMenu" class="innerMenuSettings" xPosition="before">
      <button mat-menu-item (click)="editProfile()">
        <mat-icon>person</mat-icon>
        <span>Modifica profilo</span>
      </button>
      <button mat-menu-item (click)="fileInput.click()">
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)">
        <mat-icon>add_a_photo</mat-icon>
        <span>Modifica immagine</span>
      </button>
    </mat-menu>
    <div class="d-flex flex-wrap mt-4 v-profile-info">
      <div class="col-12 ">
        <h1 class="v-profile-fullname text-center mb-0">{{userProfile.profile?.name + " "+ userProfile.profile?.lastname
          }}
        </h1>
        <p class="text-center v-text-desc mt-0 mb-1">
          "{{userProfile.profile?.description}}"</p>
      </div>
      <div class="d-flex w-100 justify-content-center mt-2">
        <div class="col-6">
          <p class="text-center v-small v-border-right-light-gray v-text-gray">{{userProfile.profile?.username}}</p>
        </div>
        <div class="col-6">
          <p class="text-center v-small v-text-gray">{{userProfile.profile?.role | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row v-white-background w-100 mx-0 py-3 v-edit-profile-anim pt-4" *ngIf="editProfileToggle">
    <h5>Modifica informazioni personali</h5>
    <app-user-form [userProfile$]="userProfile$" (buttonEmitter)="userFormHandler($event)"></app-user-form>
  </div>
  <div *ngIf="restaurants$ | async as restaurants" class="v-risto-container">
    <div class="d-flex flex-column justify-content-center">
      <i class="material-icons text-center mb-2">local_restaurant</i>
      <h1 class="text-center v-profile-restaurants-title">I miei ristoranti</h1>
    </div>
    <div class="v-container-carousel">
      <div *ngFor="let restaurant of restaurants" (click)="goTo(restaurant)"
        class="v-div-restaurant-carousel w-100 v-item-container-carousel d-flex col-12 v-bg-img-default"
        [ngStyle]="restaurant.profile.logoUrl ? { 'background-image': 'url(' + restaurant.profile.logoUrl + ')' } : ''">
        <p class="v-p-restaurant-carousel">{{restaurant.profile.name}}</p>
        <i class="material-icons v-icon-item-carousel">keyboard_arrow_right</i>
      </div>
      <div class="v-div-restaurant-carousel w-100 v-item-container-carousel d-flex col-12" (click)="newRest()"
        style="background-image:url('https://endlessicons.com/wp-content/uploads/2012/12/add-icon-614x460.png')">
        <p class="v-p-restaurant-carousel">Add new restaurant</p>
      </div>
    </div>
  </div>
</div>