<div class="v-custom-container">
  <ng-container *ngIf="restaurant$ | async as restaurant">
    <app-restaurant-header-cover-logo [restaurant]="restaurant" [restaurantHolder]="restaurantHolder"
      [routeRestaurantId]="routeRestaurantId" [morevert]="false"
      (actionEmitter)="actionHandler($event)"></app-restaurant-header-cover-logo>
  </ng-container>
  <div class="d-flex flex-wrap pb-3 v-white-background px-3">
    <b class="ps-2 mt-4 m-0">Edit info ristorante</b>
    <ng-container *ngIf="restaurant$ | async as restaurant; else newRestForm">
      <app-restaurant-form [currentRestaurant]="currentRestaurant" (buttonEmitter)="buttonEmitterHandler($event)"
        class="w-100"></app-restaurant-form>
    </ng-container>
    <ng-template #newRestForm>
      <app-restaurant-form (buttonEmitter)="buttonEmitterHandler($event)" class="w-100"></app-restaurant-form>
    </ng-template>
  </div>

</div>